<style>
    .container {
        width: 100%;
        margin: auto;
    }
    @media (min-width: 600px) {
        .container {
            width: 80%;
        }
    }
    @media (min-width: 768px) {
        .container {
            width: 60%;
        }
    }
    @media (min-width: 1024px) {
        .container {
            width: 50%;
        }
    }
</style>

<div class="container">
    <h1>12 My second ML cloud based model: Text Sentiment</h1>
    <img src="https://media.istockphoto.com/id/1737181835/photo/portrait-of-mongolian-couple-standing-on-pasture-carrying-milk-bucket-stool.jpg?s=1024x1024&w=is&k=20&c=kVfwEjzSOuGY2VHNnE0cpIPtuz1YTFxu3GIklu64xXM=" width="300" height="200">
    <form action="/result" method="post">
        <p>Please enter the text</p>
        <p><input type="text" name="t"></p>
        <p><input type="submit" value="Enter" style="width: 100px;height:100px;"></p>
    </form>
</div>
